body
{
    background-color: #ecf0f1;

}

.btn
{
    cursor: pointer;
}

body
{
    color:#fff;
    transition: color 0.3s ease-in-out;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.clicked
{
    color: #7f8c8d;
}

.form,
.greetings
{
    display: none;
}

.showing
{
    display: block;
}


@keyframes fadeIn
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .3s linear;
}

h1
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 110px;
}

h4
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
}

form
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input
{
    text-align: center;
    color: #fff;
    font-size: 25px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
}

input::placeholder
{
    color: #fff;
}

input:focus
{
    outline: none;
}

ul
{
    text-align: center;
}

li
{
    display: inline-block;
}

li button
{
    background: none;
    border: none;
}

.js-weather
{
    position: absolute;
    right: 2%;
    bottom: 0px;
    height: 100%;

    display: block;
}